<div class="container" style="margin-top: 40px;">
  <% if @open_investigations.empty? %>
    <div class="card-panel red lighten-4">
      <h5 class="center-align red-text text-darken-2" style="margin: 0;">No open cases at this time</h5>
    </div>
  <% else %>
    <div class="card z-depth-2" style="border-radius: 16px; padding: 30px;">
      <h4 class="center-align red-text text-darken-2" style="margin-bottom: 30px;">Open Investigations in GCPD</h4>

      <table class="highlight responsive-table centered">
        <thead class="blue-text text-darken-2">
          <tr>
            <th>Title</th>
            <th>Crime Location</th>
            <th>Date Opened</th>
            <th>Batman Involved?</th>
            <th>Officers Assigned</th>
          </tr>
        </thead>
        <tbody>
          <% @open_investigations.each do |investigation| %>
            <tr>
              <td><%= link_to investigation.title, investigation_path(investigation), class: "blue-text text-darken-2" %></td>
              <td><%= investigation.crime_location %></td>
              <td><%= investigation.date_opened.strftime("%B %d, %Y") %></td>
              <td><span class="<%= investigation.batman_involved ? 'green-text text-darken-2' : 'red-text text-darken-2' %>">
                <%= investigation.batman_involved ? "Yes" : "No" %></span></td>
              <td><%= investigation.officers.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>